.text-money {
    font-size: 25px;
}

.value-money {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

.panel-primary .panel-heading{
    background-color: #428bca;
}

.panel-primary .panel-heading {
    color: #fff;
}